body{
	text-align:center;
	background-color:#d3d7cf;
}
h1{
	margin:15px;
	padding:10px;
	text-shadow:  2px 2px #ff0000;
	
}
h2{
	margin:15px;
	padding:10px;
	text-shadow:  2px 2px #f57900;
	
}
a{
	margin:5px;
	font-size:20px;
	text-decoration:none;
}

.add:hover{
	background-color:yellow;
	font-size: larger;
	text-transform: capitalize;
}

th,td{
	margin:10px;
	padding:10px;
	border: 2px solid black;
}

#content, table{
    display:inline-block;
}

.sub{
	display:inline-block;
	width:90px;
	height:30px;
	font-weight: bold;
}
.sub:hover{
	cursor: pointer;
	
}

#goback{
	display:inline-block;
	font-weight:bold;
	border: 2px solid black;
	border-radius:12px;
	margin:20px;
	padding:7px;
	background-color:#fcaf3e;
	
}




